# Dependencies
/node_modules
/.pnpm-store

# Next.js build output
/.next/
/out/
/build

# Environment variables (NEVER commit secrets!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Operating System & IDE files
.DS_Store
*.pem
*.p12
.idea/
.vscode/

# Vercel
.vercel
